:root{
    --header-height: 70px;
    --footer-height: 60px;
}

* {
    box-sizing: border-box;
}

html, body {   
    margin: 0;
    padding: 0; 
    height: 100%;
    background: #000000;
    font-family: 'Love Ya Like A Sister', cursive;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    cursor: pointer;
    color: #bababa;
}

header{
    align-items: center;
    display: flex;
    height: var(--header-height);
    padding: 15px;
    border-bottom: 3px solid  #6d6d6d;
}

#logo{
    margin: 10px;
    max-width: 60px;
}

main{
    padding: 20px;
    min-height: calc(100% - (var(--header-height) + var(--footer-height)));
}

#explicacao {
    color: #fff;
    text-align: center;
}

.logo{
    margin-top:20px;
    margin-bottom: 50px;
    max-width: 120px;
}

#lista-cadastros {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.item-cadastro {
    background-color: #6d6d6d76;
    box-shadow: 5px 3px 7px gray;
    border: 1px solid #bababa;
    width: 320px;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    word-break: break-all;
    margin: 10px;
}

.container-foto {
    text-align: center;
    position: relative;
    height: 150px;
    
}

h3 {
    margin: 0;
}

.item-foto {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 2px 2px 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
}

.item-foto:hover {
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.item-nome {
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #000000;
}

.container-telefone {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: 4px;
}

span {
    margin-right: 10px;
}

.container-universidade {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: 4px;
}

.container-genero {
    display: flex;
    align-items: center;
    padding: 4px;
    margin-bottom: 4px;
    border-bottom: 2px solid #000000;
}

.container-sobre {
    border: 2px solid #000000;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 2px 10px;
}

.container-sobre::-webkit-scrollbar {
    width: 10px;
}

.container-sobre::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0 40px 40px 0;
    margin: 4px 6px;
}
  
.container-sobre::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #6d6d6d;
}

.item-sobre {
    margin: 0;
    max-height: 100%;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    color: #fff;
    border-top: 3px solid  #6d6d6d;
    padding: 10px;
    height: var(--footer-height);
    font-size: 18px;
    font-weight: bold;
}

@media (width <= 1200px){

}

@media (width <= 992px){  
    .item-cadastro {
        width: 400px;
    }

    .container-sobre {
        font-size: 15px;
    }
}

@media (width <= 768px){

    .item-cadastro {
        width: 300px;
    }

    .item-foto {
        width: 120px;
        height: 120px;
    }

    .container-sobre {
        font-size: 13px;
    }
}

@media (width <= 600px){
    #lista-cadastros {
        justify-content: start;
    }

    .item-cadastro {
        width: 250px;
    }

    .item-foto {
        width: 100px;
        height: 100px;
    }

    .item-nome {
        font-size: 18px;
    }

    .container-sobre {
        font-size: 12px;
        padding: 0 5px;
    }
}

@media (width <= 400px){
    #lista-cadastros {
        justify-content: center;
    }

    .item-cadastro {
        width: 300px;
    }

    .item-foto {
        width: 150px;
        height: 150px;
    }
}